.tasklist {
  padding: 8px;
  border-radius: 2px;
}

.tasklist.pendente {
  background-color: #e57373; /* vermelho claro */
}

.tasklist.fazendo {
  background-color: #64b5f6; /* azul claro */
}

.tasklist.completa {
  background-color: #81c784; /* verde claro */
}

.tasklist .title {
  padding: 4px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tasklist .content {
  padding: 16px 4px;
  display: flex;
  flex-direction: column;
}

.tasklist .content .empty-list {
  text-align: center;
  border: 1px dashed white;
  border-radius: 4px;
  padding: 4px;
}

.tasklist .btn {
  margin-top: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 3px;
  color: white;
  background: #00b8d4;
  transition: background-color 0.3s;
  align-items: center;
  gap: 5px;
}

.tasklist.pendente .btn {
  background-color: #d32f2f;
}

.tasklist.pendente .btn:hover {
  background-color: #b71c1c;
}

.tasklist.fazendo .btn {
  background-color: #1976d2;
}

.tasklist.fazendo .btn:hover {
  background-color: #0d47a1;
}

.tasklist.completa .btn {
  background-color: #388e3c;
}

.tasklist.completa .btn:hover {
  background-color: #1b5e20;
}

.tasklist .btn img {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

